---
//components
import Main from "../../layouts/Main.astro";

import { Icon } from 'astro-icon'
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
--- 

<Main>
    <ul>
        <li><a href="./post-1">Post 1</a></li>
        <li><a href="./post-2">Post 1</a></li>
        <li><a href="./post-3">Post 1</a></li>
        <li><a href="./post-4">Post 1</a></li>
        <li><a href="./post-5">Post 1</a></li>
        <li><a href="./post-6">Post 1</a></li>
    </ul>
</Main>