---
import {Image} from "@astrojs/image/components";
import Link from "../components/Link.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Home" description="Home Page">
	<section class="container grid grid-cols-[1fr_2fr]" aria-label="About Me">
        <Image  src="/images/rocket.png" alt="Hero image" format={"avif"} width={500} height={500} fit={"fill"} loading={"lazy"}/>
        <div class="flex flex-col justify-around">
            <div>
                <h1 class="h1">Hey, I'm Rohan ;</h1>
                <p>An Engineer who loves to tinker around the web.</p>
            </div>
            <Link href="#" style="primary" text="Let's Connect"/>
        </div>
    </section>
</Main>
 
