---
import Main from "../layouts/Main.astro";

const test = "test"
const number = 10
const arr = ['a','b','c']
---

<Main title="Home" description="Home Page">
	<h1>Astro, {test},{number}</h1>
</Main>


