---
import {Image} from "@astrojs/image/components";
import Link from "../components/Link.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Home" description="Home Page">
	<section class="container grid grid-cols-[1fr_2fr]" aria-label="About Me">
        <Image class="hero-img" src="/images/hero.jpeg" alt="Hero image" format={"avif"} width={500} height={500} fit={"fill"} loading={"lazy"}/>
        <div class="flex flex-col justify-around">
            <div>
                <h1 class="h1">Hey! It's me</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur cupiditate adipisci illo minus suscipit atque nesciunt, eveniet, quo quam corrupti modi ipsum asperiores, velit ipsa natus pariatur blanditiis nisi?</p>
            </div>
            <Link href="#" style="primary" text="Let's Connect"/>
        </div>
    </section>
</Main>
 
