---
//library imports
import { Icon } from "astro-icon";

//data imports
import navData from "../data/navData";
import Link from "./Link.astro";
---

<nav class="max-w-full overflow-x-auto border-b-2 border-b-gray-700" aria-label="Primary">
  <div class="flex items-center py-4">
    <a class="hidden md:inline-block" href="/" aria-label="Go Home">
      <Icon name="logo" width="50" />
    </a>
    <ul class="flex ">
      {
        navData?.map((item) => (
          <Link
            href={item?.path}
            text={item.name}
            // style="secondary"
            isFilled={false}
            data-navLink
          />
        ))
      }
    </ul>
  </div>
</nav>

<script>
  // current page style on nav links
  const navLinks = document.querySelectorAll("[data-navLink]");
  navLinks.forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
